{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to WebShop !</h1>
    <p>WebShop is better than any other platform we’ve played with, and we’ve played with them all.</p><br>
    <a href="{{ path('app_register') }}">Register</a><br>
    <a href="{{ path('app_login') }}">Login</a>
{% endblock %}